{% extends 'base.html.twig' %}

{% block title %}Créer un CV{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.image) }}
{{ form_row(form.lastName) }}
{{ form_row(form.firstName) }}
{{ form_row(form.birthdate) }}
{{ form_row(form.email) }}
{{ form_row(form.PhoneNumber) }}
{{ form_row(form.adresseStreet) }}
{{ form_row(form.adresseNumberStreet) }}
{{ form_row(form.adressePostalCode) }}
{{ form_row(form.adresseTown) }}
{{ form_row(form.title) }}

{# EDUCATIONS #}
<label for="educations">Formation</label>
<ul class="educations" data-prototype="{{ form_widget(form.education.vars.prototype)|e('html_attr') }}">

    {% for key, step in form.education %}
    <li class="li-education">
        {{ form_row(step.startDate) }}
        {{ form_row(step.endDate) }}
        {{ form_row(step.schoolName) }}
        {{ form_row(step.description) }}
        {{ form_row(step.schoolLink) }}
    </li>
    {% endfor %}
</ul>

{# SKILLS #}
<label for="skills">Compétences</label>
<ul class="skills" data-prototype="{{ form_widget(form.skills.vars.prototype)|e('html_attr') }}">

    {% for key, step in form.skills %}
    <li class="li-skill">
        {{ form_row(step.title) }}
    </li>
    {% endfor %}
</ul>

{# EXPERIENCES #}
<label for="experiences">Expérience</label>
<ul class="experiences" data-prototype="{{ form_widget(form.experience.vars.prototype)|e('html_attr') }}">

    {% for key, step in form.experience %}
    <li class="li-experience">
        {{ form_row(step.startDate) }}
        {{ form_row(step.endDate) }}
        {{ form_row(step.town) }}
        {{ form_row(step.companyName) }}
        {{ form_row(step.title) }}
    </li>
    {% endfor %}
</ul>

{# INTERESTS #}
<label for="interests">Centre d'intérêts</label>
<ul class="interests" data-prototype="{{ form_widget(form.interests.vars.prototype)|e('html_attr') }}">

    {% for key, step in form.interests %}
    <li class="li-interest">
        {{ form_row(step.text) }}
    </li>
    {% endfor %}
</ul>


{{ form_widget(form.save) }}

{{ form_end(form, {render_rest: false}) }}
{% endblock %}