{% extends 'base.html.twig' %}

{% block title %}Hello CvController!{% endblock %}

{% block body %}

<div class="container">

    <a href="{{ path('cv-create') }}" class="btn btn-primary" type="button">Ajouter un CV</a>

    {% for cv in cvs %}
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('uploads/' ~ cv.image) }}" class="card-img-top" alt="cv-image">
            <div class="card-body">
                <h5 class="card-title">{{ cv.name }}</h5>
                <a href="{{ path('cv-view', {'id':cv.id}) }}" class="btn btn-primary">Voir</a>
                <a href="{{ path('cv-update', {"id": cv.id}) }}" class="btn btn-primary">Editer</a>
                <a href="{{ path('cv-delete', {'id':cv.id}) }}" class="btn btn-danger" onclick="return confirm('Supprimer ce CV ?')">Supprimer</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
